@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
    --white: #F9F9F9;
    --off-white: #F3EfED;
    --gray-dark: #343a40;
    --text-light: #F8F9FA;
    --text-dark: #343A40;
    --teal-light: #4F5D5B;
    --teal-dark: #364442;
}

@font-face {
    font-family: Brittany;
    src: url("../fonts/BrittanySignature.ttf");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html,
body {
    width: 100%;
    scroll-behavior: smooth;
    background: var(--white);
    overflow-x: hidden;
}

/* -------------------- */
/* |  NAVBAR STYLING  | */
/* -------------------- */

nav.navbar {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    height: 75px;
    width: 100%;
    background: linear-gradient(to bottom, #000000A0, #00000000);
    padding-left: 20px;
    padding-right: 20px;
    z-index: 5;
    transition: 0.75s ease, background 2s ease, color 0.5s ease;
}

nav.navbar::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0px 0px 15px 10px #00000030;
    background: linear-gradient(to right, var(--teal-dark), var(--teal-light));
    color: var(--text-light);
    opacity: 0;
    z-index: 0;
    transition: 0.75s ease, background 2s ease, opacity 0.5s ease;
}

nav.navbar.scrolled::before {
    opacity: 5;
}

nav.navbar .nav-item {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    z-index: 2;
}

nav.navbar .nav-item a {
    text-decoration: none;
}

nav.navbar .nav-item a h1.logo {
    font-family: Brittany;
    font-size: 28px;
    color: var(--text-light);
    font-weight: 600;
}

nav.navbar .nav-item .menu {
    display: flex;
    align-items: center;
    justify-content: center;
}

nav.navbar .nav-item .menu .menu-wrapper {
    position: relative;
    display: flex;
	align-items: center;
	justify-content: space-between;
	flex-direction: column;
    width: 50px;
    height: 35px;
    z-index: 5;
}

nav.navbar .nav-item .menu .menu-wrapper span {
	width: 100%;
	height: 2.6px;
	background: var(--text-light);
	border-radius: 6px;
	transform: none;
	opacity: 1;
	transition: transform 0.25s ease, opacity 0.5s ease;
}

nav.navbar .nav-item .menu#inactive .menu-wrapper span:first-child {
	animation: rotate-out forwards;
	animation-duration: 1s;
}

nav.navbar .nav-item .menu#inactive .menu-wrapper span:nth-child(2) {
	animation: opacity-out forwards;
	animation-duration: 1s;
}

nav.navbar .nav-item .menu#inactive .menu-wrapper span:last-child {
	animation: rotate-flipped-out forwards;
	animation-duration: 1s;
}

nav.navbar .nav-item .menu#active .menu-wrapper span:first-child {
	animation: rotate-in forwards;
	animation-duration: 1s;
}

nav.navbar .nav-item .menu#active .menu-wrapper span:nth-child(2) {
	animation: opacity-in forwards;
	animation-duration: 1s;
}

nav.navbar .nav-item .menu#active .menu-wrapper span:last-child {
	animation: rotate-flipped-in forwards;
	animation-duration: 1s;
}

nav.navbar .nav-item .menu .dropdown-container {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(100% - 100px);
    height: 0;
    top: 75px;
    left: 0;
    margin-left: 50px;
    margin-right: 50px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    background: var(--off-white);
    box-shadow: -5px 5px 15px #00000050, 5px 5px 15px #00000050;
    transition: border 1.5s ease, height 1.5s ease, border-top-left-radius 1s ease, border-top-right-radius 1s ease, border-bottom-left-radius 1s ease, border-bottom-right-radius 1s ease;
}

nav.navbar.scrolled .nav-item .menu .dropdown-container {
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

nav.navbar .nav-item .menu#inactive .dropdown-container {
    animation: dropdown-container-out forwards;
    animation-duration: 1s;
}

nav.navbar .nav-item .menu#active .dropdown-container {
    animation: dropdown-container-in forwards;
    animation-duration: 1s;
}

nav.navbar .nav-item .menu .dropdown-container ul {
    display: none;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding-top: 30px;
    padding-bottom: 30px;
    border-radius: 30px;
    opacity: 0;
}

nav.navbar .nav-item .menu#inactive .dropdown-container ul {
    animation: dropdown-out forwards;
    animation-duration: 1s;
}

nav.navbar .nav-item .menu#active .dropdown-container ul {
    display: flex;
    animation: dropdown-in forwards;
    animation-duration: 1s;
}

nav.navbar .nav-item .menu .dropdown-container ul li {
    list-style: none;
}

nav.navbar .nav-item .menu .dropdown-container ul li a {
    position: relative;
    text-decoration: none;
    color: var(--text-dark);
    font-size: 24px;
    font-weight: 600;
}

nav.navbar .nav-item .menu .dropdown-container ul li a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2.5px;
    width: 100%;
    height: 3px;
    border-radius: 6px;
    background: var(--text-dark);
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.5s ease;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
}

nav.navbar .nav-item .menu .dropdown-container ul li a:hover::after,
nav.navbar .nav-item .menu .dropdown-container ul li a:focus::after,
nav.navbar .nav-item .menu .dropdown-container ul li a.active::after {
    transform: scaleX(1);
    transform-origin: left;
}

/* ---------------------- */
/* |   HEADER STYLING   | */
/* ---------------------- */

.hero {
    position: static;
    height: 600px;
    width: 100%;
    background-image: url("../img/main-banner.jpg");
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    aspect-ratio: auto;
    z-index: 0;
}

.hero .filter {
    z-index: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: brightness(0.9);
}

.hero .text-container {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
    text-align: center;
    width: calc(100% - 60px);
    height: 600px;
    margin-left: 30px;
    margin-right: 30px;
}

.hero .text-container h1 {
    padding: 20px;
    width: 100%;
    color: var(--text-dark);
    background: #F3EfEDE0;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.about {
    position: static;
    height: 500px;
    width: 100%;
    background-image: url("../img/about-me.jpg");
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    aspect-ratio: auto;
    z-index: 0;
}

.about .filter {
    z-index: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: brightness(0.9);
}

.about .text-container {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
    text-align: center;
    width: calc(100% - 60px);
    height: 500px;
    margin-left: 30px;
    margin-right: 30px;
}

.about .text-container h1 {
    padding: 20px;
    width: 100%;
    color: var(--text-dark);
    background: #F3EfEDE0;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.successstories {
    position: relative;
    height: 500px;
    width: 100%;
    background-image: url("../img/banner-1.png");
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
    aspect-ratio: auto;
    z-index: 0;
}

.successstories .filter {
    z-index: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: brightness(0.9);
}

.successstories .text-container {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
    text-align: center;
    width: calc(100% - 60px);
    height: 500px;
    margin-left: 30px;
    margin-right: 30px;
}

.successstories .text-container h1 {
    padding: 20px;
    width: 100%;
    color: var(--text-dark);
    background: #F3EfEDE0;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.contact {
    position: relative;
    height: 500px;
    width: 100%;
    background-image: url("../img/phone.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    aspect-ratio: auto;
    z-index: 0;
}

.contact .filter {
    z-index: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: brightness(0.9);
}

.contact .text-container {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
    text-align: center;
    width: calc(100% - 60px);
    height: 500px;
    margin-left: 30px;
    margin-right: 30px;
}

.contact .text-container h1 {
    padding: 20px;
    width: 100%;
    color: var(--text-dark);
    background: #F3EfEDE0;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.whatisrtt {
    position: relative;
    height: 500px;
    width: 100%;
    background-image: url("../img/what-is-rtt.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    aspect-ratio: auto;
    z-index: 0;
}

.whatisrtt .filter {
    z-index: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: brightness(0.9);
}

.whatisrtt .text-container {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
    text-align: center;
    width: calc(100% - 60px);
    height: 500px;
    margin-left: 30px;
    margin-right: 30px;
}

.whatisrtt .text-container h1 {
    padding: 20px;
    width: 100%;
    color: var(--text-dark);
    background: #F3EfEDE0;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.workingwithme {
    position: relative;
    height: 500px;
    width: 100%;
    background-image: url("../img/working-with-me.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    aspect-ratio: auto;
    z-index: 0;
}

.workingwithme .filter {
    z-index: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: brightness(0.9);
}

.workingwithme .text-container {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
    text-align: center;
    width: calc(100% - 60px);
    height: 500px;
    margin-left: 30px;
    margin-right: 30px;
}

.workingwithme .text-container h1 {
    padding: 20px;
    width: 100%;
    color: var(--text-dark);
    background: #F3EfEDE0;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.audios {
    position: relative;
    height: 500px;
    width: 100%;
    background-image: url("../img/hypnotic-audio.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    aspect-ratio: auto;
    z-index: 0;
}

.audios .filter {
    z-index: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: brightness(0.9);
}

.audios .text-container {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
    text-align: center;
    width: calc(100% - 60px);
    height: 500px;
    margin-left: 30px;
    margin-right: 30px;
}

.audios .text-container h1 {
    padding: 20px;
    width: 100%;
    color: var(--text-dark);
    background: #F3EfEDE0;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

/* ----------------------- */
/* |   SECTION STYLING   | */
/* ----------------------- */

.section-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: var(--white);
    box-shadow: 0px 0px 25px #00000075;
    z-index: 1;
}

.section-container section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 24px;
    padding-bottom: 24px;
    padding-left: 8px;
    padding-right: 8px;
    text-align: center;
    width: 100%;
}

.section-container section .title {
    padding-bottom: 10px;
    font-size: 40px;
    font-weight: 800;
}

.section-container section .subtitle {
    padding-bottom: 15px;
    font-size: 28px;
    font-weight: 700;
}

.section-container section .content {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    gap: 15px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
    text-align: left;
    font-size: 20px;
    font-weight: 400;
}

.section-container section .content ul {
    padding-left: 45px;
    padding-right: 45px;
}

.section-container section .content p big{
    font-weight: 500;
}

.section-container section .content p small{
    font-weight: 400;
}

.section-container section .content .comment-container {
    align-self: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 25px;
    text-align: center;
}

.section-container section .content .comment-container .comment {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 8px;
}

.section-container section .content .comment-container .comment b {
    font-weight: 500;
}

.section-container section .video-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding-left: 15px;
    padding-right: 15px;
}

.section-container section .video-container iframe {
    width: 100%;
    aspect-ratio: 1920 / 1080;
    border-radius: 16px;
    box-shadow: 0px 0px 15px #000000A0;
}

.section-container section .content .success-story-container {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 45px;
}

.section-container section .content .success-story-container .success-story-item {
    display: flex;
    align-items: center;
    justify-self: center;
    flex-direction: column;
    max-width: 400px;
}

.section-container section .content .success-story-container .success-story-item img {
    width: 300px;
    margin-top: 30px;
    margin-bottom: 15px;
    border-radius: 50%;
    box-shadow: 0px 0px 15px #00000050;
}

.section-container section .content .success-story-container .success-story-item p {
    text-align: center;
    padding-bottom: 15px;
    font-size: 20px;
    font-weight: 400;
}

.section-container section .content .success-story-container .success-story-item p.name {
    font-size: 24px;
    font-weight: 600;
    padding-bottom: 10px;
}

.section-container section .content .success-story-container .success-story-item p.location {
    font-size: 23px;
    font-weight: 300;
    padding-bottom: 5px;
}

.section-container section .content .card-container {
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
}

.section-container section .content .card-container .card {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    width: 95%;
    max-width: 400px;
    background: var(--white);
    box-shadow: 0px 0px 15px #00000050;
    border-radius: 15px;
    padding-bottom: 15px;
}

.section-container section .content .card-container .card img {
    width: 100%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.section-container section .content .card-container .card .title {
    align-self: center;
    padding-top: 15px;
    font-size: 30px;
    font-weight: 700;
}

.section-container section .content .card-container .card .subtitle {
    align-self: center;
    font-size: 22px;
    font-weight: 600;
}

.section-container section .content .card-container .card .content {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 15px;
    padding-right: 15px;
}

.section-container section .content .card-container .card .content p {
    align-self: flex-start;
}

.section-container section .content .card-container .card .content p.price {
    align-self: center;
}

.section-container section:nth-child(odd) {
    background: var(--off-white);
    color: var(--text-dark);
}

.section-container section:nth-child(even) {
    background: var(--teal-dark);
    color: var(--text-light);
}

.section-container section:nth-child(odd) .content a {
    color: var(--teal-light);
}

.section-container section:nth-child(even) .content a {
    color: var(--white);
}

/* ---------------------- */
/* |   FOOTER STYLING   | */
/* ---------------------- */

footer {
    position: relative;
    box-shadow: 0px 0px 30px #00000050;
    margin-top: 10vh;
    padding-top: 15px;
    background: var(--off-white);
    color: var(--text-dark);
    padding-bottom: 15px;
}

footer .footer-main-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    z-index: 1;
}

footer .footer-main-wrapper .footer-item {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    width: 250px;
}

footer .footer-main-wrapper .footer-item ul {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 5px;
}

footer .footer-main-wrapper .footer-item ul li {
    list-style: none;
}

footer .footer-main-wrapper .footer-item ul li a {
    color: var(--text-dark);
    text-decoration: none;
    font-weight: 400;
}

footer .footer-main-wrapper .footer-item ul li a:hover {
    text-decoration: underline;
}

footer .footer-main-wrapper .footer-item-socials {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

footer .footer-main-wrapper .footer-item-socials ul.socials {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 15px;
    padding-bottom: 5px;
}

footer .footer-main-wrapper .footer-item-socials ul.socials li {
    list-style: none;
}

footer .footer-main-wrapper .footer-item-socials ul.socials li a img {
    width: 40px;
}

/* -------------------------------- */
/* |   BUTTON CONTAINER STYLING   | */
/* -------------------------------- */

.button-container {
    position: relative;
    display: flex;
    align-items: center;
    align-self: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.button-container a {
    text-decoration: none;
}

.button-container a button {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    vertical-align: baseline;
    width: 250px;
    height: 55px;
    background: var(--teal-light);
    border: 2px solid var(--teal-light);
    border-radius: 6px;
    box-sizing: border-box;
    box-shadow: 0px 0px 15px #00000050;
    cursor: pointer;
    color: var(--text-light);
    font-size: 22px;
    font-weight: 600;
    transition: box-shadow 0.5s ease, background 0.5s ease, color 0.5s ease, transform 0.5s ease;
}

.button-container a button:hover,
.button-container a button:focus {
    transform: translateY(-10px);
    background: transparent;
    box-shadow: 0px 5px 15px #00000050;
    color: var(--teal-light);
}

.section-container section:nth-child(even) .content .button-container a button {
    font-size: 22px;
    font-weight: 600;
    color: var(--text-dark);
    background: var(--off-white);
    border: 2px solid var(--off-white);
}

.section-container section:nth-child(even) .content .button-container a button:hover,
.section-container section:nth-child(even) .content .button-container a button:focus {
    transform: translateY(-10px);
    background: transparent;
    box-shadow: 0px 5px 15px #00000050;
    color: var(--off-white);
}

/* ------------------------------ */
/* |   LOGO CONTAINER STYLING   | */
/* ------------------------------ */

.logo-container {
    position: relative;
    display: flex;
    align-self: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 10px;
    padding-bottom: 10px;
    gap: 30px;
}

.logo-container a {
    text-decoration: none;
    height: 100%;
}

.logo-container a img {
    height: 60px;
    cursor: pointer;
}

/* --------------------------- */
/* |   KEYFRAME ANIMATIONS   | */
/* --------------------------- */

@keyframes rotate-in {
	0% {
		transform: translateY(0px);
	}
	30% {
		transform: translateY(16px);
	}
	60% {
		transform: rotateZ(90deg) translateX(16px);
	}
	100% {
		transform: rotateZ(135deg) translate(11px, -12px);
	}
}

@keyframes opacity-in {
	0% {
        opacity: 1;
    }
	30% {
        opacity: 1;
    }
	60% {
        opacity: 0;
	}
	100% {
        opacity: 0;
	}
}

@keyframes rotate-flipped-in {
	0% {
		transform: translateY(0px);
	}
	30% {
		transform: translateY(-16px);
	}
	60% {
		transform: translateY(-16px);
	}
	100% {
		transform: rotateZ(45deg) translate(-11px, -12px);
	}
}

@keyframes rotate-out {
	0% {
        transform: rotateZ(135deg) translate(11px, -12px);
	}
	30% {
        transform: rotateZ(90deg) translateX(16px);
	}
	60% {
        transform: translateY(16px);
	}
	100% {
        transform: translateY(0px);
	}
}

@keyframes opacity-out {
	0% {
        opacity: 0;
	}
	30% {
        opacity: 0;
	}
	60% {
        opacity: 1;
	}
	100% {
        opacity: 1;
	}
}

@keyframes rotate-flipped-out {
	0% {
        transform: rotateZ(45deg) translate(-11px, -12px);
	}
	30% {
        transform: translateY(-16px);
	}
	60% {
        transform: translateY(-16px);
	}
	100% {
        transform: translateY(0px);
	}
}

@keyframes dropdown-container-in {
    0% {
        height: 0;
    }
    50% {
        height: 250px;
    }
    100% {
        height: 250px;
    }
}

@keyframes dropdown-container-out {
    0% {
        height: 250px;
    }
    50% {
        height: 250px;
    }
    100% {
        height: 0;
    }
}

@keyframes dropdown-in {
    0% {
        opacity: 0;
        display: none;
    }
    50% {
        opacity: 0;
        display: flex;
    }
    100% {
        opacity: 1;
        display: flex;
    }
}

@keyframes dropdown-out {
    0% {
        display: flex;
        opacity: 1;
    }
    50% {
        display: flex;
        opacity: 0;
    }
    100% {
        display: none;
        opacity: 0;
    }
}

/* --------------------- */
/* |   MEDIA QUERIES   | */
/* --------------------- */

/* MONITOR */
@media (min-width: 1280px) {

    * {
        font-size: 22px;
    }

    .section-container {
        top: -45px;
        width: calc(100% - 60px);
        margin-left: 30px;
        margin-right: 30px;
        border-radius: 30px;
    }

    .section-container section {
        padding-left: 30px;
        padding-right: 30px;
    }

    .section-container section:first-child {
        border-top-left-radius: 30px;
        border-top-right-radius: 30px;
    }

    .section-container section:last-child {
        border-bottom-left-radius: 30px;
        border-bottom-right-radius: 30px;
    }

    .button-container {
        flex-direction: row;
    }
}

/* LAPTOP */
@media (min-width: 1024px) {

    * {
        font-size: 22px;
    }

    .section-container {
        top: -45px;
        width: calc(100% - 60px);
        margin-left: 30px;
        margin-right: 30px;
        border-radius: 30px;
    }

    .section-container section:first-child {
        border-top-left-radius: 30px;
        border-top-right-radius: 30px;
    }

    .section-container section:last-child {
        border-bottom-left-radius: 30px;
        border-bottom-right-radius: 30px;
    }

    .button-container {
        flex-direction: row;
    }


    /* ---------------------- */
    /* |   HEADER STYLING   | */
    /* ---------------------- */

    .hero .text-container {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        flex-direction: column;
        text-align: center;
        width: 400px;
        height: 600px;
        right: 0;
    }

    .hero .text-container h1 {
        padding: 20px;
        width: 100%;
        color: var(--text-dark);
        background: #F3EfEDE0;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
    }

    .about {
        position: static;
        height: 500px;
        width: 100%;
        background-image: url("../img/about-me.jpg");
        background-position: top;
        background-repeat: no-repeat;
        background-size: cover;
        aspect-ratio: auto;
        z-index: 0;
    }

    .about .filter {
        z-index: 0;
        width: 100%;
        height: 100%;
        backdrop-filter: brightness(0.9);
    }

    .about .text-container {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        flex-direction: column;
        text-align: center;
        width: calc(100% - 60px);
        height: 500px;
        margin-left: 30px;
        margin-right: 30px;
    }

    .about .text-container h1 {
        padding: 20px;
        width: 100%;
        color: var(--text-dark);
        background: #F3EfEDE0;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
    }

    .successstories {
        position: relative;
        height: 500px;
        width: 100%;
        background-image: url("../img/banner-1.png");
        background-position: right;
        background-repeat: no-repeat;
        background-size: cover;
        aspect-ratio: auto;
        z-index: 0;
    }

    .successstories .filter {
        z-index: 0;
        width: 100%;
        height: 100%;
        backdrop-filter: brightness(0.9);
    }

    .successstories .text-container {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        flex-direction: column;
        text-align: center;
        width: calc(100% - 60px);
        height: 500px;
        margin-left: 30px;
        margin-right: 30px;
    }

    .successstories .text-container h1 {
        padding: 20px;
        width: 100%;
        color: var(--text-dark);
        background: #F3EfEDE0;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
    }

    .contact {
        position: relative;
        height: 500px;
        width: 100%;
        background-image: url("../img/phone.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        aspect-ratio: auto;
        z-index: 0;
    }

    .contact .filter {
        z-index: 0;
        width: 100%;
        height: 100%;
        backdrop-filter: brightness(0.9);
    }

    .contact .text-container {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        flex-direction: column;
        text-align: center;
        width: calc(100% - 60px);
        height: 500px;
        margin-left: 30px;
        margin-right: 30px;
    }

    .contact .text-container h1 {
        padding: 20px;
        width: 100%;
        color: var(--text-dark);
        background: #F3EfEDE0;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
    }

    .whatisrtt {
        position: relative;
        height: 500px;
        width: 100%;
        background-image: url("../img/what-is-rtt.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        aspect-ratio: auto;
        z-index: 0;
    }

    .whatisrtt .filter {
        z-index: 0;
        width: 100%;
        height: 100%;
        backdrop-filter: brightness(0.9);
    }

    .whatisrtt .text-container {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        flex-direction: column;
        text-align: center;
        width: calc(100% - 60px);
        height: 500px;
        margin-left: 30px;
        margin-right: 30px;
    }

    .whatisrtt .text-container h1 {
        padding: 20px;
        width: 100%;
        color: var(--text-dark);
        background: #F3EfEDE0;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
    }

    .workingwithme {
        position: relative;
        height: 500px;
        width: 100%;
        background-image: url("../img/working-with-me.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        aspect-ratio: auto;
        z-index: 0;
    }

    .workingwithme .filter {
        z-index: 0;
        width: 100%;
        height: 100%;
        backdrop-filter: brightness(0.9);
    }

    .workingwithme .text-container {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        flex-direction: column;
        text-align: center;
        width: calc(100% - 60px);
        height: 500px;
        margin-left: 30px;
        margin-right: 30px;
    }

    .workingwithme .text-container h1 {
        padding: 20px;
        width: 100%;
        color: var(--text-dark);
        background: #F3EfEDE0;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
    }

    .audios {
        position: relative;
        height: 500px;
        width: 100%;
        background-image: url("../img/hypnotic-audio.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        aspect-ratio: auto;
        z-index: 0;
    }

    .audios .filter {
        z-index: 0;
        width: 100%;
        height: 100%;
        backdrop-filter: brightness(0.9);
    }

    .audios .text-container {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        flex-direction: column;
        text-align: center;
        width: calc(100% - 60px);
        height: 500px;
        margin-left: 30px;
        margin-right: 30px;
    }

    .audios .text-container h1 {
        padding: 20px;
        width: 100%;
        color: var(--text-dark);
        background: #F3EfEDE0;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
    }




}

/* TABLET */
@media (max-width: 767px) {

}

/* MOBILE */
@media (max-width: 480px) {

}

/* SMALL MOBILE */
@media (max-width: 360px) {

    /* ---------------------- */
    /* |   NAVBAR STYLING   | */
    /* ---------------------- */

    nav.navbar .nav-item a h1.logo {
        display: none;
    }

    nav.navbar .nav-item .menu .dropdown-container {
        width: calc(100% - 10px);
        margin-left: 5px;
        margin-right: 5px;
    }
    
    /* ---------------------- */
    /* |   HEADER STYLING   | */
    /* ---------------------- */
    
    .hero .text-container {
        width: 100%;
        margin-left: 0;
    }
    
    .hero .text-container h1 {
        border-radius: 0;
    }
    
    .about .text-container {
        width: 100%;
        margin-left: 0;
    }
    
    .about .text-container h1 {
        border-radius: 0;
    }
    
    .successstories .text-container {
        width: 100%;
        margin-left: 0;
    }
    
    .successstories .text-container h1 {
        border-radius: 0;
    }
    
    .contact .text-container {
        width: 100%;
        margin-left: 0;
    }
    
    .contact .text-container h1 {
        border-radius: 0;
    }
    
    .whatisrtt .text-container {
        width: 100%;
        margin-left: 0;
    }
    
    .whatisrtt .text-container h1 {
        border-radius: 0;
    }
    
    .workingwithme .text-container {
        width: 100%;
        margin-left: 0;
    }
    
    .workingwithme .text-container h1 {
        border-radius: 0;
    }
    
    .audios .text-container {
        width: 100%;
        margin-left: 0;
    }
}